.window {
    background-color: #716F6F;
    border-radius: 10px;
}

h5 {
    font-size:  28px;
    color: white;
}

.btn-learn-notlearned,
.btn-learn-all {
    border-radius: 10px;
    border: 0px;
    margin: 5px;
    height: 4rem;
    width: 65%;
    background-color: #2ecc71;
    font-size: 20px;
}

.modal-body {
    flex-direction: column;
}

.quizrulet-brand-sidebar {
    margin-bottom: 20%;
}

.close-btn{
    width: fit-content;
    position: absolute;
    right: 0%;
}