.card {
  --bs-card-border-color: var(--bs-body-bg);
  height: 100px;
}

.card-body {
  background-color: #716f6f;
  border-radius: 10px;
  border-color: var(--bs-body-bg);
}

#sidebarMenu {
  height: 100vh;
  /* Высота на весь экран */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* Предотвращаем прокрутку всего сайдбара */
}

.quizrulet-brand-sidebar {
  display: flex;
  border-bottom: solid 1px;
  height: auto;
  /* Автоматическая высота для лого */
  overflow: visible;
  /* Лого не должно скроллиться */
}

#sidebarMenu ul.nav.flex-column {
  flex: 1;
  overflow-y: auto;
  /* Добавляем вертикальную прокрутку только для списка */
  padding-right: 5px;
  /* Отступ для скроллбара */
}

#sidebarMenu .help {
  height: auto;
  /* Автоматическая высота для блока справки */
  padding: 10px 0;
  /* Отступы для блока справки */
  position: sticky;
  bottom: 0;
  background-color: inherit;
  /* Наследуем цвет фона */
}

.sidebarList {
  max-height: calc(100vh - 150px);
  /* Высота с учетом лого и справки 1*/
  overflow-y: scroll;
}

.card-termin,
.card-meaning {
  min-height: 100%;
}

.card-txt {
  background-color: #716f6f;
  height: 50%;
  border-radius: 20px;
  border-width: 0;
  width: 100%;
  padding: 10px;
  font-size: 24px;
  resize: none;
}

.card-txt::placeholder {
  color: white;
}

.btn-learn,
.btn-import {
  background-color: #5ee152;
  color: black;
  font-size: 18px;
}

.btn-learn:hover,
.btn-import:hover {
  background-color: darkgreen;
  color: black;
}

.module-name {
  font-size: 26px;
  display: flex;
  flex-direction: row;
}

.tooltip-inner {
  max-width: 300px;
  white-space: normal;
  color: white;
}

.step-number {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  color: black;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.steps {
  color: white;
}

.step-title {
  font-size: 16px;
}

.step-content {
  display: none;
}

.step-content.active {
  display: block;
}

.step.active .step-number {
  background-color: #5ee152;
}

#preview {
  border: 1px solid grey;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.btn-next-modal {
  background-color: #5ee152;
}

.btn-next-modal,
.btn-back-modal {
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-back-modal {
  background-color: #716f6f;
}

.btn-back-modal:hover {
  background-color: darkgrey;
  /* Темнее оригинального */
  transform: scale(1.05);
}

.btn-next-modal:hover {
  background-color: darkgreen;
  /* Темнее оригинального */
  transform: scale(1.05);
}

/* button:hover{
    background-color: grey;
    
} */

#moduleDescription {
  resize: none;
}

.buttons-bottom {
  position: absolute;
  bottom: 1%;
  left: 88%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.button-delete-card,
.button-save-card {
  height: 4rem;
  width: fit-content;
}

.button-delete-card {
  background-color: #f44336;
  color: white;
}

.button-save-card {
  color: black;
  background-color: #5ee152;
}

.button-delete-card:hover {
  background-color: #f44336;
}

.button-save-card:hover {
  background-color: #5ee152;
}

.card-body {
  border: 0px;
  color: white;

}

textarea {
  color: white;
}




/* Выделение с рамкой */
.card.selected {
  border: 2px solid #5ee152;
  border-radius: 10px;
  box-shadow: 0 0 10px #5ee152;
}

.card:hover {
  box-shadow: 0 0 10px #5ee152;
}

#createNewCard {
  font-size: 20px;
  font-weight: bold;
  background-color: #4CAF50;
  border: 0px !important;
}

.fa-floppy-disk,
.fa-trash,
.fa-hourglass-start {
  padding: 5px;
}

.fa-bars {
  display: none !important;
}

@media (max-width: 767.98px) {
  .module-name {
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
  }
  .buttons {
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
    
  }
  .fa-bars {
    display: flex !important;
    margin-right: 10px;
  }
  .btn-import {
    margin-right: 5px;
  }
  
  .buttons-bottom {
    transform: translate(-50%, -50%);
    left: 50%;
    margin-bottom: 15px;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: calc(-1 * var(--sidebar-width)); 
    width: var(--sidebar-width); 
    height: 100vh; 
    z-index: 1030; 
    transition: left 0.3s ease-in-out; 
    border-right: 1px solid var(--bs-border-color);
  }
  
  .sidebar.show {
    left: 0; /* Показываем сайдбар, сдвигая его в видимую область */
  }
  .card-txt {
    height: 100%;
  }
  
}
